<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

      <div class="form-group">
        <label for="imie">Imie</label>
        <input type="text" [(ngModel)]="user.imie"
               class="form-control"
               id="imie"
               name="imie"
               placeholder="Wprowadź imię"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Imię jest wymagane</div>

      <div class="form-group">
        <label for="nazwisko">Nazwisko</label>
        <input type="text" [(ngModel)]="user.nazwisko"
               class="form-control"
               id="nazwisko"
               name="nazwisko"
               placeholder="Wprowadź nazwisko"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Nazwisko jest wymagane</div>

      <div class="form-group">
        <label for="wiek">Wiek</label>
        <input type="text" [(ngModel)]="user.wiek"
               class="form-control"
               id="wiek"
               name="wiek"
               placeholder="Wprowadź wiek"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Wiek jest wymagany</div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email jest wymagany</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Dodaj
      </button>
    </form>
  </div>
</div>
